*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    height: 115vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.row1
{
    height: 13vh;
    width: 100%;
    display: flex;
}
.col11
{
    height: 8vh;
    width: 20vh;
    /* background-color: aqua; */
    margin-left: 5%;
}
input
{
    height: 6vh;
    width: 300%;
    background-color: black;
    border-radius: 12px;
    border: 1px solid white;
    position: relative;
    top: 1.5vh;
    left: 40%;
}
.col13
{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    /* background-color: #fff; */
    position: relative;
    top: 1.8vh;
    left: 35%;
}
.col14
{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    /* background-color: #fff; */
    position: relative;
    top: 3vh;
    left: 57%;
}
.col15
{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    /* background-color: #fff; */
    position: relative;
    top: 3.2vh;
    left: 58%;
}
.col16
{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    /* background-color: #fff; */
    position: relative;
    top: 2.2vh;
    left: 59%;
}
.row2
{
    height: 30vh;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-around;
}
.row3
{
    height: 30vh;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-around;
}

.row4
{
    height: 30vh;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-around;
}
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8
{
    height: 29vh;
    width: 24%;
    /* background-color: aqua; */
    
}
.col9,.col10,.col111,.col112
{
    height: 29vh;
    width: 24%;
    /* background-color: aqua; */
}
iframe
{
    height: 29vh;
    width: 100%;
}
.col1:hover,.col2:hover,.col3:hover,.col4:hover,.col5:hover,.col6:hover,.col7:hover,.col8:hover,.col9:hover,.col10:hover,.col111:hover,.col112:hover
    {
        transform: scale(1.1);
    }
@media only screen and (max-width:390px) {
    .container
    {
        height: 385vh;
    }
    .col11
{
    height: 8vh;
    width: 20vh;
    /* background-color: aqua; */
    margin-left: 5%;
    margin-top: 4vh;
}
    .row2,.row3,.row4
    {
        height: 120vh;
        display: flex;
        flex-direction: column;
    }
    .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col111,.col112
    {
        height: 30vh;
        width: 100%;
        border-radius: 15px;
    }
    input{
        width: 100%;
        height: 5vh;
        position: relative;
        left: -8%;
        top: 5vh;
    }
    .col13
    {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        /* background-color: #fff; */
        position: relative;
        top: 5vh;
        left: 1%;
    }
    /* .col14
    {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        top: 9vh;
        left: -10%;
    }
    .col15
    {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        top: 9vh;
        left: -10%;
    } */
    .col16
    {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        /* background-color: #fff; */
        position: relative;
        top: 5vh;
        left: -10%;
    }
    
}